.select-div {
  border-radius: 8px;
  background-color: white;
  padding-right: 14px;
  padding-left: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.form-check-label {
  user-select: none;
  cursor: pointer;
}
.form-check-input {
  border: 1px solid gray;
  user-select: none;
  cursor: pointer;
}
.form-check-input:checked {
  background-color: #ee4036;
  border: #6e6b7b;
  --bs-form-check-bg-image: "";
}
.form-check-input:focus {
  box-shadow: none;
}

.custom-dropdown {
  position: relative;
  width: 100%;
  font-size: 16px;
}

.dropdown-selected {
  background-color: white;
  color: #6e6b7b;
  border: 1px solid #d8d6de;
  border-radius: 6px;
  padding-left: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  cursor: pointer;
  text-align: left;
  font-size: 16px;
  width: 100%;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding-top: 10px;
  margin-top: 10px;
  border-radius: 8px;
  overflow-y: scroll;
  z-index: 10;
  background-color: white;
  max-height: 200px;
  scrollbar-width: none;
}

.dropdown-options::-webkit-scrollbar {
  display: none;
}

.dropdown-options div {
  padding: 16px 8px;
  cursor: pointer;
}

.dropdown-options div:hover {
  background-color: #fde8e7;
  color: #ee4036;
}
.dropdown-options div.selected {
  background-color: #ee4036;
  color: white;
}

.caption-label {
  font-size: 12px;
  font-weight: 600;
}

.description-label {
  font-size: 11px;
}

.radio-div {
  user-select: none;
  cursor: pointer;
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  gap: 4px;
}

.section-part-div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
